/* Navbar */
.navbar {
  height: 80%;
  width: 100%;
  background-color: #009dc4;
}

/* logo */
#logo {
  margin-left: 5rem;
}

h2 {
  padding-left: 0.01rem;
  padding-top: 0.05rem;
  color: white;
}

/* search input box */
.inputBox {
  position: relative;
  padding-right: 2em;
}

.input {
  height: 35px;
  width: 300px;
  padding: 10px 40px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #5d1eca;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.inputBox svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 800px;
}
