<!-- Section: Design Block -->
<div class="container mt-5">
  <div class="row">
    <form class="form-control" [formGroup]="formValue" action="">
      <div class="container" id="title">
        <div class="row justify-content-center">
          <p class="title">Login</p>
        </div>
      </div>
      <div class="input-field">
        <input required="" class="input" type="text" formControlName="email" />
        <label class="label" for="input">Enter Email</label>
      </div>
      <div class="input-field">
        <input
          required=""
          class="input"
          type="password"
          formControlName="password"
        />
        <label class="label" for="input">Enter Password</label>
      </div>
      <button class="submit-btn" (click)="onCustomerLogin()">Sign In</button>
      <div class="row">
        <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
      </div>
    </form>
  </div>
</div>
